@import (reference) "./variables";
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

html {
  height: 100%;
  overflow: hidden;

  body {
    height: 100%;
    font: 100% 'Ubuntu Condensed',  Helvetica, sans-serif;
    background-color: @light-blue;
  }
}

.pui-wrapper {
  height: 100%;
  font-size: 2em;
}


@media only screen and (min-width: 768px) {
  .pui-wrapper {
    font-size: 2em;
  }
}
